body {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.airflow-editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .airflow-editor-main {
    flex: 1;
    height: 0;
    display: flex;
    flex-shrink: 0;
  }
  .node-list {
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.04);
    width: 200px;
    position: relative;
    flex-shrink: 0;
  }
  .airflow-editor-main-right {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .tool-bar {
    border-bottom: 1px solid #eeeff5;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    .tool-bar-left {
      flex: 1;
      .ant-btn-icon-only {
        color: #444185;
      }
    }
  }
  .work-space {
    width: 100%;
    height: 100%;
  }
  .props-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 0;
    flex-shrink: 0;
    width: 250px;
    .props-form-title {
      padding: 16px 24px 0;
    }
    .props-form-content {
      flex: 1;
      overflow-y: auto;
      padding: 0 24px 16px;
    }
  }

  .mini-map {
    padding: 16px;

    .mini-map-wrapper {
      height: 160px;
    }
  }
}
